@charset "utf-8";

body {
  background: black;
  color: darkslategray;
  font-family: "Century Gothic", sans-serif;
  margin: 0;
  padding: 0;
}

.box {
  padding: 1em;
}
header {
  background: orange;
  border-bottom: solid 1px #333;
  color: gray;
}
nav {
  background: gray;
  color: orange;
}
#main {
  background: white;
  color: black;
}

.project-title,
.team-name,
ul.project-authors,
ul.nav,
figure,
figcaption {
  text-align: center;
}

.project-title {
  font-size: 2em;
  font-weight: bold;
}
.project-title > a {
  text-decoration: none;
}

.team-name {
  font-weight: bold;
}

ul.project-authors {
  display: inline-block;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.project-authors > li {
  display: inline-block;
}
ul.project-authors > li + li {
  /*padding-left: 1ch;*/
}
ul.project-authors > li + li::before {
  content: "| ";
}

ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.nav > li {
  display: inline-block;
}
ul.nav > li + li::before {
  content: " | ";
}
ul.nav a {
  text-decoration: none;
}

h2.page-title {
  color: #ccc;
  margin: 0;
  text-align: center;
  text-decoration: underline;
}

div#main {
  margin: 0 auto;
  max-width: 1000px;
}

p {
  text-align: justify;
}

figcaption {
  font-size: 10pt;
  font-weight: bold;
  margin: 1em 0;
}

footer {
  color: silver;
  font-size: 9pt;
  text-align: center;
}

video {
  max-height: 100%;
  max-width: 100%;
}
